<!doctype html>
<html lang="es">

<head>
    <title>Registro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
                                                          
<form class="row g-3 needs-validation" novalidate >
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label" >Nombres:</label>
      <input type="text" class="form-control" id="validationTooltip01" value="" required>
      <div class="valid-tooltip">
        Aqui registramos tu nombre :)
      </div>
      </div>
      <p>
    
    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
       Aca tus apellidos :)
      </div>
    </div>
    <p>
        
    <div class="col-md-4 position-relative">
      <label for="validationTooltipUsername" class="form-label">Correo:</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Ingrese un correo valido para nuestra red.
        </div>
      </div>
    <p>
    <p> 
    <p>  
    <div class="col-md-3 position-relative">
      <label for="validationTooltip03" class="form-label">Numero de telefono:</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Ingrese el numero de telefono .
      </div>
    </div>
    <p>
    <p>
    <p> 
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Pais:</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Elige...</option>
        <option>Perú</option>
        <option>Ecuador</option>
        <option>Bolivia</option>
        <option>Argentina</option>
        <option>Venezuela</option>
        <option>Uruguay</option>
        <option>Chile</option>
        <option>Brasil</option>
        <option>Paraguay</option>
        <option>Mexico</option>
        <option>USA</option>
        <option>Canada</option>
        <option>Panama</option>
        <option>Cuba</option>
        <option>Corea del norte</option>
        <option>Corea del sur</option>
        <option>China</option>
        <option>Japon</option>
        <option>España</option>
        <option>Francia</option>
        <option>Italia</option>
        <option>Portugal</option>
        <option>Congo</option>
        <option>Rusia</option>
        <option>Ucrania</option>
      </select>
      <div class="invalid-tooltip">
        Aca señala su Pais.
      </div>
    </div>
    <p>
    <p> 
    <p>    
    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Codigo Zip: </label>
      <input type="text" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
        Ingrese numero ZIP      
      </div>
    </div>
    <p>
    <p>
    <p> 
    <div class="col-12">
      <button class="btn btn-danger" type="submit">Registrarse</button>
    </div>
  </form>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>