<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Wospeak</title>




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid bg-danger d-flex justify-content-center align-content-center">
        <h1 class=" text-center m-2">Bienvenidos a</h1>
        <img src="./img/dibujo.png" style="width: 100px;" alt="Portada" class="m-2">
    </div>
    <div class="container">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <a class="btn btn-primary" href="feed" role="button">Ingresar</a><br>
        <div class="conteiner bg-warning d-flex justify-content-center align-content-center flex-column">
            <div class="conteiner d-flex justify-content-center  align-content-center m-2">
                <br>
                <p style="margin-right: 10px;">¿Deseas registrarte? Es totalmente gratis y empieza tu aventura aqui</p>
                <a class="btn btn-primary" href="contacto" role="button">Registro</a>
            </div>
            <br>

            <a href="Terminos y condiciones">Terminos y condiciones</a>
        </div>

        <div class="conteiner">
            <div class="container bg-dark d-flex justify-content-center align-content-center">
                <p class=" m-1 text-light">Accede a otras redes sociales:</p>
                <a href="https://www.facebook.com" class="m-1">Facebook</a>
                <a href="https://twitter.com/?lang=es" class="m-1">Twitter</a>
                <a href="https://www.instagram.com" class="m-1">Instagram</a>
            </div>
        </div>

</body>

</html>