<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Wospeak</title>




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container bg-danger ">

        <h1 class=" text-center">Bienvenidos a Wospeak

        </h1>
    </div>
    </div>
    <img src="C:\Users\Alessi\Documents\lolis-de-hambaga\wospeak\imagenes\dibujo.png" alt="Portada">


    <div class="container justify-content-md-center bg-danger">
        <div class="align-items: text-center">

            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4 position-relative">
                    <div class="text-center">
                        <label for="validationTooltip01" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="validationTooltip01" value="" required>


                    </div>
                </div>
        </div>
    </div>
    <p>
    <div class="container justify-content-md-center bg-danger ">
        <div class="align-items: text-center">
            <div class="col-md-4 position-relative">
                <div class="text-center">
                    <label for="validationTooltip01" class="form-label">Password:</label>
                    <input type="text" class="form-control" id="validationTooltip01" value="" required>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-primary" href="feed" role="button">Ingresar</a><br>
    </div>

    </form>
    <div>
        <br>
        <p>¿Deseas registrarte? Es totalmente gratis y empieza tu aventura aqui abajo :.</p>
        <a class="btn btn-primary" href="contacto" role="button">Registro</a>
        <br>

    </div>
    <p>

    </p>
    </div>
    <p>

    </p>
    <div class="col-md-4">
        <a href="Terminos y condiciones">Terminos y condiciones</a>
    </div>
    <div class="col-md-4">
        Accede a otras redes sociales:
        <a href="https://www.facebook.com">Facebook</a>
        <a href="https://twitter.com/?lang=es">Twitter</a>
        <a href="https://www.instagram.com">Instagram</a>
    </div>

    </div>


</body>

</html>