*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}
.cabecera h1{
    margin-right: 10px;
    color: #fff;
}